In [1]:
a=10
print(a)

10

In [2]:
print("Hello world")

Hello world

In [3]:
print(123)

123

In [4]:
int(4)

4

In [5]:
int("34")

34

In [8]:
age=41
print("my age is :", age)

my age is : 41

In [9]:
print("my age is {age}")

my age is {age}

"" f string""

In [10]:
print(f"my age is {age}")

my age is 41

In [16]:
name="mallu"
age=41
print("my name is : ", name ,"and age is :", age)

my name is :  mallu and age is : 41

In [20]:
print("my name is : {} and age is : {} " .format(name, age))

my name is : mallu and age is : 41

In [2]:
name="mallu"
age=41
degree="Mtech"
print(f"my name is {name}, age is {age} and i studied {degree}")

my name is mallu, age is 41 and i studied Mtech

In [3]:
print("my name is {}, age is {} and i studied {}".format(name,age,degree))

my name is mallu, age is 41 and i studied Mtech

In [4]:
##different odrer
print("my age is {firstage}, name is {firstname} and i studied {firstdegree}".format(firstdegree=degree,firstname=name,firstage=age))

my age is 41, name is mallu and i studied Mtech

###Control flow###

#Control Flow#

In [28]:
input()

 "i am mallu"

'"i am mallu"'

In [36]:
age=int(input("enter your age: " ))
if age>=18 and age<45:
    print(" you are an young blood ")
else:
    print(" you are not an young blood ")

enter your age:  25

 you are an young blood

In [40]:
price=int(input("enter the product price "))
if price<=1000:
    print("final product price is :", 0.7*price)
else:
    print("final product price is :", 0.8*price)

enter the product price  2000

final product price is : 1600.0

In [42]:
price=int(input("enter the product price "))
if price<=1000:
    print("final product price is {}".format(0.7*price))
else:
    print("final product price is {}".format(0.8*price))

enter the product price  500

final product price is 350.0

In [57]:
price=int(input("enter the product price "))
if price>3000:
    if price==4000:
        print("you will get Goa trip")
    print("final product price is {}".format(0.8*price))
elif price<=3000 and price>2000:
    print("final product price is {}".format(0.7*price))
elif price<=2000 and price>1000:
    print("final product price is {}".format(0.6*price))
else:
    print(f"final product price is {0.5*price}")

enter the product price  4000

you will get Goa trip
final product price is 3200.0

In [6]:
#single statement#
price=int(input("enter the product price "))
if (price<=1000):print("final product price is {}".format(0.7*price))
else:
    print("final product price is {}".format(0.8*price))

enter the product price  4000

final product price is 3200.0

In [ ]:
##Loops statements##
1.while Loop
2.for loop
3.nested loops
4.loop control (break,continue,pass)

In [14]:
joiningage=int(input("enter joining age"))
while joiningage<=60:
    joiningage=joiningage+1
    print(joiningage)
else:
    print("its time for retirement")

enter joining age 23

24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
its time for retirement

In [16]:
bankbalance=int(input("enter initial balance"))
while bankbalance>1000:
    bankbalance=bankbalance-1000
    print("balance is ", bankbalance)
else:
    print("please deposit amount ")

enter initial balance 6000

balance is  5000
balance is  4000
balance is  3000
balance is  2000
balance is  1000
please deposit amount

In [23]:
x=["mallu",1,2,3,4,5,"venkata","reddy"]
for i in x:
    print(i)
    if i=="reddy":
        print("cast is ", i)

mallu
1
2
3
4
5
venkata
reddy
cast is  reddy

In [24]:
fruit="mango"
for i in fruit:
    print(i)

m
a
n
g
o

In [25]:
fruit[1]

'a'

In [26]:
fruit[4]

'o'

In [28]:
fruit="mango"
for i in fruit:
    print(i,end=" ")

m a n g o

In [14]:
n=5
for i in range(1,n):
    for j in range(0,i):
        print("*", end=" ")
    print("\r")

*
* *
* * *
* * * *

## Home work for equilateral triangle
  *
 ***
*****

In [35]:
n=5
for i in range(1,2*n,2):
    for j in range(0,i):
        if j==0:
            for k in range(2*n-i,1,-1):
                print(" ", end="")
        print("*", end=" ")
    print("\r")

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [69]:
n=5
for i in range(1,2*n,2):
    for j in range(0,i):
        if j==0:
            print(' '*(2*n-i),end="")
        print("*", end=" ")
    print("\r")

         *
       * * *
     * * * * *
   * * * * * * *
 * * * * * * * * *

In [76]:
fruit_list=["mango","apple","banana","cherry","papaya"]
for i in fruit_list:
    if i=="banana":
        print("fruit is ", i)
        break
    print(i)

mango
apple
fruit is  banana

In [77]:
fruit_list=["mango","apple","banana","cherry","papaya"]
for i in fruit_list:
    if i=="banana":
        print("fruit is ", i)
        continue
    print(i)

mango
apple
fruit is  banana
cherry
papaya

In [78]:
fruit_list=["mango","apple","banana","cherry","papaya"]
for i in fruit_list:
    if i=="banana":
        print("fruit is ", i)
        pass
    print(i)

mango
apple
fruit is  banana
banana
cherry
papaya